{% extends "admin/index.html" %}

{% block content %}
    {{block.super}}
    <div class="app-{{ app.app_label }} module">
        <table>
            <caption>
                <a href="/policy-visualization" class="section" title="统计报表">报表</a>
            </caption>
            <tbody>
                <tr class="model-{{ app.app_label }}">
                    <th scope="row">
                        <a href="/policy-visualization">统计报表</a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}